<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.www.repository.FileDAO">
	<select id="getFileList" resultType="com.study.www.domain.FileVO">
		select * from file where bno = #{bno}
	</select>
	<insert id="insertFile">
		insert into file (uuid, save_dir, file_name, file_type, bno, file_size)
		values (#{uuid}, #{saveDir}, #{fileName}, #{fileType}, #{bno}, #{fileSize})
	</insert>
	<delete id="delete">
		delete from file where uuid=#{uuid}
	</delete>
</mapper>